.close-i{
  position: relative;
  display: block;
  margin-left: auto;
  width: 16px;
  *{
    color: lighten($text, 30);
    &:hover{
      color: $accent-color;
      text-decoration: none;
    }
  }
}
