.function-pannel{
  position: absolute;
  right: 0px;
  display: block;
  width: 320px;
  background-color: $ligth-text;
  height: 100%;
  @include box-shadow (-1px, 0px, 2px, 1px, $shadows);

  .nav-extended{
    background-color: $primary-color;
    .nav-content{
      ul{
        li{
          a{
            padding: 0 18px 0 18px;
          }
        }
      }
    }
  }


}

.formulas{
  .function-inst{
    .close-icon{
      @extend .close-i;
    }
    i{
      display:none !important;
    }
    form{
      display: none;
    }
    &:hover{
      background-color: darken(white, 6%);
    }
  }
  .act{
    max-height: auto;
    i{
      display:block !important;
    }
    form{
      display: block !important;
    }
  }
}
